<div mat-dialog-title>
  <h1>{{ data ? "Atualizar" : "Adicionar" }} Carro em uso</h1>
</div>
<form [formGroup]="carUserForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field>
        <mat-label>Motoristas disponíveis</mat-label>
        <mat-select formControlName="motoristaId">
          <mat-option
            [value]="motorista.id"
            *ngFor="let motorista of motoristaDisponiveis | async"
          >
            <span>{{ motorista.id }}. </span> |
            <span>motorista: {{ motorista.nome }} </span> |
            <span>status: {{ motorista.status }} </span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>Carros disponíveis</mat-label>
        <mat-select formControlName="carroId">
          <mat-option
            [value]="carro.id"
            *ngFor="let carro of carrosLiberados | async"
          >
            <span>{{ carro.id }}. </span
            ><span>marca: {{ carro.marca }} </span> |
            <span>placa: {{ carro.placa }}</span> |
            <span>cor: {{ carro.cor }}</span> |
            <span>status: {{ carro.status }}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <br />

    <div class="row">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Motivo Utilização:</mat-label>
        <input matInput formControlName="motivoUtilizacao" />
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="action-btns">
    <button
      mat-raised-button
      type="button"
      color="warn"
      [mat-dialog-close]="false"
    >
      Cancelar
    </button>
    <button style="margin: 10px" mat-raised-button color="accent" type="submit">
      {{ data ? "Atualizar" : "Salvar" }}
    </button>
  </div>
</form>
