<!-- The toolbar of our app -->
<mat-toolbar color="primary">
  <span>Lista de Carros</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<div class="main-body">
  <div class="table-container">
    <div class="example-button-row custom-btn">
      <button mat-raised-button color="accent" (click)="openAddEditCarDialog()">
        Adicionar carro
      </button>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Cor</mat-label>
        <input
          [(ngModel)]="corFilter"
          matInput
          (keyup)="applyFilter($event, 'cor')"
          placeholder="cor"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Marca</mat-label>
        <input
          [(ngModel)]="marcaFilter"
          matInput
          (keyup)="applyFilter($event, 'marca')"
          placeholder="marca"
        />
      </mat-form-field>
    </div>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <ng-container matColumnDef="placa">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Placa</th>
        <td mat-cell *matCellDef="let row">{{ row.placa }}</td>
      </ng-container>

      <ng-container matColumnDef="cor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cor</th>
        <td mat-cell *matCellDef="let row">{{ row.cor }}</td>
      </ng-container>

      <ng-container matColumnDef="marca">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Marca</th>
        <td mat-cell *matCellDef="let row">{{ row.marca }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let row">
          {{ row.status == "emUso" ? "Em uso" : "Disponível" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="acao">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ação</th>
        <td mat-cell *matCellDef="let row">
          <span
            (click)="abrirFormEdicao(row)"
            class="action-icon"
            style="margin-right: 5px"
          >
            <mat-icon color="primary">edit</mat-icon>
          </span>
          <span (click)="deleteCar(row.id)" class="action-icon">
            <mat-icon color="warn">delete</mat-icon>
          </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</div>
